* {
    font-family: 'Architects Daughter', cursive;
 }

 body{
     width: 100vw;
     height: 100vh;
     overflow-x: hidden;
 }

 /* TOP */

 .top{
    background-color: black;
    /*background-image: linear-gradient(to bottom, #000000 30%, #ffffff 90%);*/
    width: 100vw;
    height: 100vh;
 }

 .row-1 {
     color: white;
     height: 50vh;
 }

.row-1 h1{
    font-size: 5vw;
}

.container{
    margin: 0 2vw 0 2vw;
    max-width: 95vw;
    padding: 0;
}
