 * {
    font-family: 'Architects Daughter', cursive;
 }

 body{
     width: 100vw;
     height: 100vh;
     overflow-x: hidden;
 }

 /* TOP */

 .top{
    background-color: black;
    /*background-image: linear-gradient(to bottom, #000000 30%, #ffffff 90%);*/
    width: 100vw;
    height: 100vh;
 }

 main {
     padding-top: 0;
 }

 .row-1,
 .row-2 {
     color: white;
     height: 50vh;
 }

.row-1 h1{
    font-size: 5vw;
}

.row-2 h4{
    font-size: 2vw;
}

.container{
    margin: 0 2vw 0 2vw;
    max-width: 95vw;
    padding: 0;
}

/* CONNECTOR */

.connector{
    width: 100vw;
    height: 10vh;
    color:white;
    background-color: Black;
    border-top: 3px white solid;
}

.connector .row{
    width: 95vw;
    height: 10vh;
    margin: 0;
}

.connector h1{
    font-size: 3vw;
}

/* SECTION-1 */

.section{
    width: 100vw;
    height: 50vh;
    background-color: black;
    color:white;
    border-top: 3px white solid;
}

.row-3 {
    width: 95vw;
    height: 50vh;
    margin: 0;
 }

.side-1{
    border-right: 3px white solid;
}

.side-1 h1{
    font-size: 3vw;
}

.side-2 h2{
    font-size: 2vw;
}

